#Question {
    border: 2px solid blue;
    height:120px;
}

.navbar-text_navbar-right, #Theme {
    text-align: center;
    color:gold;
    font-size:20px;
}

#Timer {
    text-align: center;
    color:gold;
}

#StartButton { 
    text-align: center;
    height:50px;
    width:75px;
    color:blue;
}

#okay {
    text-align: center;
    color:blue;
}
